@model IEnumerable<HyVo_CanadaGames.Models.Athlete>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get">
    <div class="form=horizontal">
        <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" id="filterToggle" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
            Filter/Search
        </button>
        <div class="collapse @(ViewData["Filtering"])" id="collapseFilter">
            <div class="card card-body bg-light">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label class="control-label">Select by Sport:</label>
                        @Html.DropDownList("SportID", null, "Type of Sports", htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Select by Gender:</label>
                        @Html.DropDownList("GenderID", null, "Gender Type", htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Select by Contingent:</label>
                        @Html.DropDownList("ContingentID", null, "Location", htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Select by Coach:</label>
                        @Html.DropDownList("CoachID", null, "All Coaches", htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Search Athlete:</label>
                        @Html.TextBox("FindName", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Search Information:</label>
                        @Html.TextBox("FindMedia", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4 align-self-end">
                        <input type="submit" name="actionButton" value="Filter" class="btn btn-outline-primary" />
                        <a asp-action="Index" class="btn btn-outline-dark">Clear</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    <!--Replace display names with buttons-->
                    <input type="submit" name="actionButton" value="Full Name" class="btn btn-link" />
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AthleteCode)
                </th>
                <th>
                    <input type="submit" name="actionButton" value="Age" class="btn btn-link" />
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Height)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Weight)
                </th>
                <th>
                    <input type="submit" name="actionButton" value="Contingent" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" name="actionButton" value="Sport" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" disabled="disabled" value="Athlete Sport" class="btn btn-link" />
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Coach)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AthleteCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Height)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Weight)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contingent.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sport.Code)
                    </td>
                    <td>
                        @foreach(var s in item.AthleteSports)
                        {
                            @s.Sport.Name <br />
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Coach.FullName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <partial name="_PagingNavBar" />
</form>