@model IEnumerable<CanadaGames.ViewModels.PlacementReport>

@{
    ViewData["Title"] = "PlacementReport";
}

<h1>Placement Report</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContingentCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvgPlace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxPlace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinPlace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfEvents)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContingentCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvgPlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxPlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinPlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfEvents)
            </td>
        </tr>
}
    </tbody>
</table>
